.changeAccountWrap{
    display: grid;
    justify-items: center;
    width: 70%;
    box-sizing: border-box;
    background-color:#F1F1F1;
    border-radius: 17px;
    margin: auto;
    margin-top: 20%;
}

.InfoChangeButton{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #0071E3;
    border-radius: 17px;
    margin-bottom: 2%;
    width:6rem;
    margin-right: 4%;}