
.myPageAccountBackground{
    margin-top: 15%;
    margin-left: 20%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    
    width:65%;
    height: 90%;
    display: grid;

    box-sizing: border-box;
    background: rgba(192, 192, 192, 0.12);
    border: 1px solid #F1F1F1;
    border-radius: 17px;
}

.myPageAccountBackground>form{
    padding-left: 15%;
}

.myPageAccountBackgroudTitle{
    padding-left: 10%;
    margin-top: 2%;
}

.inputPassword{
    width:80%;
    border: 0.5px solid black;
    border-radius: 10px;
    height: 4ex;
    margin-bottom: 2%;
    padding-left:2%;
    padding-right: 3%;
}

.passwordEdit{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #0071E3;
    border-radius: 17px;
    margin-bottom: 2%;
    
}