.ModalPageBackground{
    background: rgba(192, 192, 192, 0.12);
    border: 1px solid #F1F1F1;
    border-radius: 17px;
    height:30%;
    width:50%;
    padding: 2%;
    position:fixed;
    top:50%;
    left: 25%;
}

.emph{
    font-size: 1.3em;
    font-weight: 700;
}

.FindAddress{
    display: block;
}

.ModalButtons{
        background: rgba(28, 28, 28, 0.12);
        border: 1px solid #f1f1f1;
        border-radius: 14px;
        text-decoration: none;
        margin-top: 2%;
        display: block;
}

.AgreeTerms{
    zoom: 1.5;
    margin-top: 2%;
}

.address_p{
    position:absolute;
    top: 20vw;
}