#mbti_result{
    display: none;
    max-width:80%
}

#resultImage{
    height: 100px;
    width:100px;
}

.resultDesc{
    font-size: 1rem;
    font-weight: 800;
    margin-top: 25%;
    border-radius: 17px;
    padding-left: 5%;
    text-align: start;
    color:white;
}

.resultFlavor{
    font-size: 1rem;
    font-weight: 800;
    box-sizing: border-box;
    border-radius: 17px;
    padding-right: 5%;
    text-align: end;
    color:white;
}
