#mbti_result{
    display: flex;
    text-align: 'center';
}

#resultImage{
    height: 30%;
    width:30%
}

.mbtiBuyButton{
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid white;
}

.resultDesc{
    font-size: 1rem;
    font-weight: 800;
    border-radius: 17px;
    text-align: start;
    color:white;
}

.resultFlavor{
    font-size: 1rem;
    font-weight: 800;
    box-sizing: border-box;
    border-radius: 17px;
    padding-right: 5%;
    text-align: end;
    color:white;
}