
.myPageLike2{
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  
  width:65%;
  height: 90%;
  display: grid;

  box-sizing: border-box;
  background: rgba(192, 192, 192, 0.12);
  border: 1px solid #F1F1F1;
  border-radius: 17px;
  }
  
  .LikeimgConts{
      display: inline-block;
      height: 90%;
      width: 30%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 10%;
    }
  
  .LikeidConts{
      display: inline-block;
      color:black;
    }

    .LikePriceConts{
      display: inline-block;
      color:black;
    }

  .cancleConts{
      display: inline-block;
      width: 5%;
      padding:0px;
      margin-left: 5%;
    }
  
  .pagination{
    justify-content:center;
  }
  
  .myPageLike2>div.myPageLikeConts>a{
    text-decoration: none;
    color:black;
  }