/* Inside MyPage.css */

.home-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 15%; /* 15% margin on both sides */
    flex-direction: column;
    align-items: center;
  }
  
  .home-nav {
    text-align: center;
  }
  
  .home-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
  }
  
  .home-nav li {
    margin-right: 10px;
    text-align: center;
  }
  
  /* Add styles for the active link */
  .home-nav li.active {
    background-color: black;
  }
  
  .home-nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s; /* Add a smooth transition effect for color change */
  }
  
  .home-nav a:hover {
    text-decoration: underline;
  }
  
  /* Change text color and background color on link click */
  .home-nav li.active a {
    color: white;
  }
  