.ShopList{
  margin-top: 15%;
  margin-left: 20%;
  margin-bottom: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  
  width:65%;
  height: 90%;
  display: grid;

  box-sizing: border-box;
  background: rgba(192, 192, 192, 0.12);
  border: 1px solid #F1F1F1;
  border-radius: 17px;
}

.myPageOrdered h2{
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 1%; 

}

.OrderList{
  background-color: #F1F1F1;
  border: none;
  padding: 5% 3%;
  width:100%;
  border-radius: 17px;
  border:none;
  display: grid;
  grid-template-columns: 3fr 5fr 1fr 1fr 1fr;
  align-items: center;
}

.orderButtons{
  background: #8D5124;
    border: 1px solid #F1F1F1;
    border-radius: 14px;

    box-sizing: border-box;
    width:7rem;
    height: 2rem;
    color:white;
 
    border-radius: 12px;
    font-weight: 500;
    font-size:0.8rem;
}

.orderDate{
    margin-left: 2%;
    margin-top:3%;
    font-size: 1.2rem;
}

.orderList{
    background: rgba(192, 192, 192, 0.12);
    border: 1px solid #F1F1F1;
    border-radius: 17px;
    margin:3%;
}


.orderList>.orderImgInOrdered{
    width:13%;
    margin-left:3%;
    display: inline-block;
}

.myPageOrderedButtons{
    display: inline-block;
    justify-items: end;
    vertical-align: middle;
    position: relative;
    left: 40%;
}

.myPageOrderedButtons>button, .myPageOrderedButtons>form>input  {
    width:8rem;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 600;
    font-size:0.8rem;
    display: inline;
    color:black;
    background-color: #F1F1F1;
    position:relative;
    margin-bottom: 5%;
    display: block;
}

.pagination{
    justify-content:center;
  }

.topScribe, .underScribe{
    font-weight: 400;
    font-size: 18px;
    margin-left: 3%; 
    width:150%;
}

#imgConts{
    display: inline-block;
    height: 100%;
    width: 50%;
    margin:1% 5%;
  }

#idConts{
    display: inline-block;
    width: 57%;
}

#modifyReview, #deleteReview{
    background: #8D5124;
    border: 1px solid #F1F1F1;
    border-radius: 14px;

    box-sizing: border-box;
    width:9%;

    border-radius: 12px;
    font-weight: 500;
    font-size:0.8rem;
  }


.myPageReview2{
    margin-left: 20%;

    background: rgba(192, 192, 192, 0.12);
    border: 1px solid #F1F1F1;
    border-radius: 17px;

    margin-top: 5%;
    margin-bottom:3%;
    width:75%;
}

.pagination{
    justify-content:center;
  }

#myPageReview{
  width:60%;
}

.myPageReview2>.myPageReviewedContents>a{
  color:white;
  text-decoration: none;
}